Repository dpolevodin/js_school_diary: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write --config .prettierrc"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc"
  ]
}

fix(components): fixed code by comments
  src/features/auth/loginByPassword/index.ts
  src/features/auth/loginByPassword/model.ts
  src/features/auth/loginByPassword/ui/Login.module.scss
  src/features/auth/loginByPassword/ui/Login.tsx
  src/pages/login/page.tsx
Due: prettier --write --config .prettierrc

docs: updated Technology Stack and Commit messages specification info
  README.md
Due: none

feat(components): add themeswitcher component, layout in app
  src/App.css
  src/App.tsx
  src/features/theme-switcher/index.ts
  src/features/theme-switcher/model.ts
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  src/index.css
  src/main.tsx
Due: prettier --write --config .prettierrc

feat(components): make required fixes of ThemeSwitcher
  README.md
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/features/theme-switcher/ui/ThemeSwitcher.css
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  src/index.css
  src/store/counter/events.ts
  src/store/counter/index.ts
  src/store/counter/init.ts
  src/store/counter/stores.ts
  src/store/init.ts
Due: prettier --write --config .prettierrc

feat(components): initially theme is set according to user preferences
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
Due: prettier --write --config .prettierrc

feat(components): fix default theme value
  src/features/theme-switcher/model.ts
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
Due: prettier --write --config .prettierrc

fixed comments
  index.html
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/index.css
  src/features/auth/loginByPassword/ui/Login.module.css
  src/features/auth/loginByPassword/ui/Login.tsx
  src/features/theme-switcher/index.ts
  src/features/theme-switcher/lib/index.ts
  src/features/theme-switcher/lib/useThemeSwitcher.ts
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  src/pages/diary/page.module.css
  src/pages/diary/page.module.scss
  src/pages/diary/page.tsx
  src/pages/login/page.module.css
  src/pages/login/page.tsx
  src/shared/styles/mixins.scss
  src/shared/ui/dropdown/Dropdown.module.scss
  src/shared/ui/dropdown/Dropdown.tsx
  src/shared/ui/dropdown/DropdownItem.module.scss
  src/shared/ui/dropdown/DropdownItem.tsx
  src/shared/ui/dropdown/index.ts
  src/shared/ui/index.ts
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(components): add atomic-router, home page, other pages templates
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/main.tsx
  src/pages/admin/index.ts
  src/pages/admin/page.tsx
  src/pages/constests/index.ts
  src/pages/constests/page.tsx
  src/pages/diary/index.ts
  src/pages/diary/page.tsx
  src/pages/home/index.ts
  src/pages/home/page.css
  src/pages/home/page.tsx
  src/pages/index.tsx
  src/pages/schedule/create/page.tsx
  src/pages/schedule/edit/page.tsx
  src/pages/schedule/index.ts
  src/pages/schedule/page.tsx
  src/pages/sign/index.ts
  src/pages/sign/signIn/page.tsx
  src/pages/sign/signUp/page.tsx
  src/pages/student/index.ts
  src/pages/student/page.tsx
  src/pages/student/settings/page.tsx
  src/shared/lib/atomic-router/route.ts
  src/shared/ui/PageHeader/PageHeader.css
  src/shared/ui/PageHeader/PageHeader.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(components): add PageHeader component
  src/App.css
  src/App.tsx
  src/shared/ui/PageHeader/PageHeader.css
  src/shared/ui/PageHeader/PageHeader.tsx
Due: prettier --write --config .prettierrc

feat(components): make required fixes
  src/App.tsx
  src/features/theme-switcher/index.ts
  src/features/theme-switcher/model.ts
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  src/main.tsx
  src/shared/ui/PageHeader/PageHeader.css
  src/shared/ui/PageHeader/PageHeader.tsx
Due: prettier --write --config .prettierrc

refactor(custom): disable eslint rule import/prefer-default-export
  .eslintrc.json
  src/App.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(components): themeSwitcher change onChange to handleChange
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
Due: prettier --write --config .prettierrc

perf(components): themeSwitcher: handleChange moved outside component
  src/App.tsx
  src/features/theme-switcher/index.ts
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
Due: prettier --write --config .prettierrc

feat(components): home page: links wrapped by Space
  src/pages/home/page.css
  src/pages/home/page.tsx
Due: prettier --write --config .prettierrc

build: add eslint-plugin-effector to devDependencies
  .eslintignore
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write --parser json --config .prettierrc

build: change devDependencies for eslint
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
  src/features/theme-switcher/index.ts
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  tsconfig.node.json
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix: add rule to eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write --parser json --config .prettierrc

fix(components): fix eslint errors
  .eslintrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  src/pages/admin/page.tsx
  src/pages/constests/page.tsx
  src/pages/diary/page.tsx
  src/pages/home/page.css
  src/pages/home/page.tsx
  src/pages/schedule/create/page.tsx
  src/pages/schedule/edit/page.tsx
  src/pages/schedule/page.tsx
  src/pages/sign/signIn/page.tsx
  src/pages/sign/signUp/page.tsx
  src/pages/student/page.tsx
  src/pages/student/settings/page.tsx
  src/shared/ui/PageHeader/PageHeader.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

feat(components): create admin page
  .babelrc.json
  package-lock.json
  package.json
  src/pages/admin/model.ts
  src/pages/admin/page.css
  src/pages/admin/page.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(components): change space direction for datepickers
  src/pages/admin/page.tsx
Due: prettier --write --config .prettierrc

fix(components): fix handle functions for components
  src/pages/admin/model.ts
  src/pages/admin/page.css
  src/pages/admin/page.tsx
Due: prettier --write --config .prettierrc

feat(components): add AddForm and StoreDisplay components
  src/features/add-form/AddForm.tsx
  src/features/store-display/StoreDisplay.tsx
  src/pages/admin/page.tsx
Due: prettier --write --config .prettierrc

feat(components): add AddDate and StoreDisplayDates components
  src/features/add-date/AddDate.css
  src/features/add-date/AddDate.tsx
  src/features/add-form/AddForm.tsx
  src/features/store-display-dates/StoreDisplayDates.tsx
  src/features/store-display-forms/StoreDisplayForms.tsx
  src/pages/admin/page.css
  src/pages/admin/page.tsx
Due: prettier --write --config .prettierrc

feat(components): create sign-up page
  src/pages/sign/signUp/model.ts
  src/pages/sign/signUp/page.css
  src/pages/sign/signUp/page.tsx
Due: prettier --write --config .prettierrc

feat(components): create sign-in page
  src/pages/sign/signIn/page.css
  src/pages/sign/signIn/page.tsx
Due: prettier --write --config .prettierrc

fix(components): add redirect in model beside calling route.open
  src/pages/sign/signUp/model.ts
  src/pages/sign/signUp/page.css
  src/pages/sign/signUp/page.tsx
Due: prettier --write --config .prettierrc

feat(components): add redirect to model beside calling route.open
  src/pages/sign/signIn/model.ts
  src/pages/sign/signIn/page.css
  src/pages/sign/signIn/page.tsx
Due: prettier --write --config .prettierrc

fix(components): required mistakes fixed
  package-lock.json
  package.json
  src/pages/sign/signUp/model.ts
  src/pages/sign/signUp/page.css
  src/pages/sign/signUp/page.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

fix(components): required mistakes fixed
  src/pages/sign/signIn/mocks.ts
  src/pages/sign/signIn/page.css
  src/pages/sign/signIn/page.tsx
Due: prettier --write --config .prettierrc

fix: chaged styles for root page and formatted Readme (issue-28)
  README.md
  src/App.css
Due: none

fix(components): sign-in connected to sign-up store
  src/pages/sign/rules.ts
  src/pages/sign/signIn/mocks.ts
  src/pages/sign/signIn/page.tsx
  src/pages/sign/signUp/page.tsx
Due: prettier --write --config .prettierrc

add student page and student settings page
  src/pages/student/model.ts
  src/pages/student/page.css
  src/pages/student/page.tsx
  src/pages/student/settings/page.css
  src/pages/student/settings/page.tsx
Due: prettier --write --config .prettierrc

fix(components): change components props types
  src/features/add-date/AddDate.tsx
  src/features/add-form/AddForm.tsx
  src/features/store-display-dates/StoreDisplayDates.tsx
  src/features/store-display-forms/StoreDisplayForms.tsx
Due: prettier --write --config .prettierrc

fix: use css modules beside css
  src/features/add-date/AddDate.module.css
  src/features/add-date/AddDate.tsx
  src/features/add-form/AddForm.module.css
  src/features/add-form/AddForm.tsx
  src/features/theme-switcher/ui/ThemeSwitcher.css
  src/features/theme-switcher/ui/ThemeSwitcher.module.css
  src/features/theme-switcher/ui/ThemeSwitcher.tsx
  src/index.css
  src/pages/admin/page.module.css
  src/pages/admin/page.tsx
  src/pages/home/page.module.css
  src/pages/home/page.tsx
  src/pages/sign/signIn/page.module.css
  src/pages/sign/signIn/page.tsx
  src/pages/sign/signUp/page.module.css
  src/pages/sign/signUp/page.tsx
  src/shared/ui/PageHeader/PageHeader.module.css
  src/shared/ui/PageHeader/PageHeader.tsx
Due: prettier --write --config .prettierrc

feat(compponents) create student page and student settings page
  src/features/add-date/AddDate.css
  src/features/add-date/AddDate.tsx
  src/features/add-form/AddForm.tsx
  src/features/store-display-dates/StoreDisplayDates.tsx
  src/features/store-display-forms/StoreDisplayForms.tsx
  src/pages/admin/model.ts
  src/pages/sign/rules.ts
  src/pages/sign/signIn/model.ts
  src/pages/sign/signIn/page.css
  src/pages/sign/signUp/model.ts
  src/pages/sign/signUp/page.css
  src/pages/student/model.ts
  src/pages/student/page.tsx
  src/pages/student/settings/mocks.ts
  src/pages/student/settings/page.tsx
Due: prettier --write --config .prettierrc

feat(components): added structure \& started making model
  src/entities/lib/signIn.ts
  src/entities/lib/signUp.ts
  src/pages/sign/model.ts
Due: prettier --write --config .prettierrc

feat(components): create user auth
  src/entities/lib/signIn.ts
  src/entities/lib/signUp.ts
  src/entities/signIn/model.ts
  src/entities/signUp/model.ts
  src/pages/sign/model.ts
  src/pages/sign/signIn/model.ts
  src/pages/sign/signIn/page.css
  src/pages/sign/signIn/page.tsx
  src/pages/sign/signUp/model.ts
  src/pages/sign/signUp/page.css
  src/pages/sign/signUp/page.tsx
  src/shared/lib/api/session.ts
  src/shared/lib/wait.ts
Due: prettier --write --config .prettierrc

fix: delete timeout in signIn and signUp entities
  src/entities/signIn/model.ts
  src/entities/signUp/model.ts
Due: prettier --write --config .prettierrc

test
  .babelrc.json
  .eslintrc.json
  package.json
  src/pages/admin/page.tsx
  src/pages/sign/signIn/page.tsx
  src/pages/sign/signUp/page.tsx
  src/pages/student/model.ts
  src/pages/student/page.css
  src/pages/student/page.module.css
  src/pages/student/page.tsx
  src/pages/student/settings/page.css
  src/pages/student/settings/page.module.css
  src/pages/student/settings/page.tsx
Due: prettier --write --config .prettierrc, prettier --write --parser json --config .prettierrc

test
  src/pages/student/page.tsx
Due: prettier --write --config .prettierrc
